.fav-menu-fluid{
    display: flex;
    justify-content: center;
    background-color: #E9EBEE;
}

.fav-menu-fluid .fav-menu-container{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.fav-menu-container .profile{
    text-align: center;
}

.profile img{
    border: 1px solid black;
    border-radius: 50px;
}
.profile .username{
    font-size: 1rem;
    font-weight: 650;
    margin-bottom: 1rem;
}
.profile .date-update{
    color: #B2B4C2;
}
.profile h1{
    margin-bottom: 0;
}

.fav-menu-container .more-menu{
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
}
.more-menu button{
    font-size: 1.2rem;
    border: none;
    background-color: inherit;
}
.more-menu button:hover{
    cursor: pointer;
}
