.shop-categories-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F6F6F6;
}

.shop-categories-fluid .shop-categories-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background-color: #f6f6f6;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2px;
}

.shop-categories-container .content-container{
    width: 75%;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0px 0px 5px 1px #C4C4C4;
}

.content-container .title{
    text-transform: capitalize;
}

.content-container .shop-category-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container .shop-category-nav .btn-group .btn{
    padding: 0.25rem 1rem
}
.content-container .shop-category-nav .btn-group .btn:hover{
    color: #fff;
    background-color: red;
    border: 1.5px solid red;
}

.content-container .shop-category-nav .btn-group .btn svg{
    margin-bottom: -0.2rem;
    font-size: 1rem;
}

.btn-group .preview-btn{
    color: brown;
    background-color: #fff;
    border: 1.5px solid brown;
    border-radius: 5px;
}

.btn-group .add-btn{
    color: brown;
    background-color: #fff;
    border: 1.5px solid brown;
    border-radius: 5px;
    margin-left: 1rem;
}