.top-shop-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.top-shop{
    width: 70%;
}

.top-shop .title{
    font-weight: 900;
}

.top-shop .shop-card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}