#components-layout-demo-top-side .logo {
	float: left;
	width: 120px;
	height: 31px;
	margin: 16px 24px 16px 0;
	background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
	float: right;
	margin: 16px 0 16px 24px;
}

/* Thanh nav tab */
/* Chữ khi bấm */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: red;
}
/* Thanh bar */
.ant-tabs-ink-bar {
	background: red;
}

/* chữ khi hover */
.ant-tabs-tab:hover {
	color: red;
}
