.order-card{
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border: 1.5px solid #c4c4c4;
    border-radius: 5px;
}

.order-card .order-card-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f6f6f6;
}
 p{
     
    margin-bottom: 0;
 }

 .order-card button{
    background-color: brown;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}