.rating-card{
    margin-top: 1rem;
    border: 1.5px solid #c4c4c4;
    border-radius: 5px;
}

.rating-card .rating-card-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f6f6f6;
}

.rating-card .rating-card-nav p{
    margin-bottom: 0;
}

.rating-card .rating-info{
    display: flex;
    padding: 0rem 1rem;
}

.rating-card .rating-info .product-info{
    width: 38%;
    display: flex;
    padding-top: 0.8rem;
}
.product-info img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.product-info h{

    padding-left: 1rem;
    padding-top: 2rem;
    font-size: 18px;

}

.rating-card .rating-info .rating-content{
    width: 22%;
    padding-top: 0.8rem;
    padding-left: 1rem;
    border-left: 1.5px solid #c4c4c4;
    border-right: 1.5px solid #c4c4c4;
}
.rating-content .content-box{
    overflow: hidden;
    max-width: 300ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rating-content .rate-time{
    font-size: 0.8rem;
    font-weight: 650;
    opacity: 0.6;
}


.rating-card .rating-info .shop-reply{
    width: 25%;
    padding-top: 0.8rem;
    padding-left: 1rem;
}
