.wrapModal{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


.divOne {
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;

}

.divTwo{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
